<%# app/views/bookmarks/_form.html.erb %>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%# Movie select field - TomSelect will enhance this %>
    <%= f.association :movie,
                      collection: @movies_for_select,
                      prompt: "Search or select a movie...",
                      label: false,
                      input_html: { class: 'form-select form-select-sm mb-2', id: 'bookmark_movie_id' } %>

    <%# Comment input field - THIS MUST BE PRESENT %>
    <%= f.input :comment,
                as: :text,
                placeholder: "Your comment for this movie in this list (min. 6 chars)...",
                label: false,
                input_html: { rows: 2, class: 'form-control-sm' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Add Movie to List", class: "btn btn-primary btn-sm" %>
  </div>
<% end %>